src/WebAppClient/Service References/DatabaseServiceReference/DatabaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApp.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApp.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeData" nillable="true" type="tns:EmployeeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeData" nillable="true" type="tns:ArrayOfEmployeeData" />
  <xs:complexType name="EmployeeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeData" nillable="true" type="tns:EmployeeData" />
</xs:schema>